app-menu.flex-fixed.col3.h100vh.fixed.text-center.p20.mt50

  h1.mb20
    a.fs18(href="http://study.lugn-design.com/site/samplesite/public") Site Name

  ul
    li
      a(href="#") home
    li
      a(href="#hoge/1?hoge=100") hoge
    li
      a(href="#page/2?hoge=200") page
    li
      a(href="#item/3?hoge=300") item

  style(scoped).
    h1 {
      line-height: 0.7;
    }
    ul {
      list-style: none;
    }
