app-content.p20.f.h100vh.w80vw.border-left.overflow-scroll
  app-single
  app-side

  style(scoped).
    :scope {
      margin-left: 25vw;
      border-left: 1px solid #666666;
      box-shadow: 8px 0px 128px #1a1a1a;
      background: url('images/common/bg.png');
      background-repeat: repeat;
      background-position: 0px 0px;
    }
