app-content.p20.f.h100vh.w80vw.border-left.overflow-scroll
  app-single
  app-side

  style(scoped).
    :scope {
      margin-left: 25vw;
      background: url('images/common/bg.png');
      background-repeat: repeat;
      background-position: 0px 0px;
    }
