app.f
  app-menu
  app-content
  app-footer

  script.
    this.on('*', function(eventName) {
      console.info(eventName)
    })

  style(scoped).
    :scope {
      color: #eee;
      background: url(images/common/bg60.png), url(images/bg/img02.jpg);
      background-repeat: repeat, no-repeat;
      background-position: center center, center center;
    }
