html(lang="ja")

head
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/riot/3.2.1/riot+compiler.min.js')
  style(src="plugin/high.css/high.css")
  title Riot&Pug Sample
  meta(charset='utf-8')

body
  app

  script(src="scripts/tags.js")
  script(src="scripts/main.js")
